body {
    font-family: 'Roboto', sans-serif;
    color: #F5F5F5;
    padding-top: 60px; 
  /* padding-bottom: 75px; */
    
/* I want the background-img to cover the screen on different sizes and to not scroll with the pages content*/
    background: url("../images/file6-2.jpeg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/* Im using flexbox here to easily align items and justify content properties */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

/* ---------------------------------------Nav bar */

.navbar {
   /* background-color: #0000005e; 
    opacity: 0.5; 
    filter: alpha(opacity=50); */
    background-color: #404040;
    color:#fafafa;
    
}

.navbar .nav-item .nav-link:hover {
    color:#000;
    font-weight: bolder;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}




/* ---------------------------------------About me page */

.about-container {
   margin: 20px 0 20px 0;
   
   
}

 .jumbotron {
    background-color: #0000005e;
    padding-top: 75px;
    padding-bottom:; 75px;
    
}   

    
 .jumbotron-header {
    
    margin-bottom: 20px;
    color: #F5F5F5;
    
}    

/* ---------------------------------------My work page */





/* ---------------------------------------Videos page */

.videos-container {
    justify-content: center;
    text-align: center;
    width:800px;
    margin: 0 auto 0 auto;
    padding: 25px;
}

.embed-responsive {
    margin-bottom: 35px;
}




/* ---------------------------------------Photos page */

.page-header {
    padding: 32px;
    
}

.images-container {
    box-sizing: border-box;
}


/* ---------------------------with code from W3Schools example for responsive image grid  */
.images-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.images-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}




/* ---------------------------------------Contact page */

.contact-section {
    margin-top:3rem ;
    margin-bottom: 3rem
}

.collaboration-text {
    font-weight: bolder;
}












/* ---------------------------------------------Footer */

  /*  background-color: #0000005e; 
    opacity: 0.5; 
    filter: alpha(opacity=50);

} */

footer {
    background-color: #404040;
    color: #fafafa;
    min-height: 80px;
    margin: 0;
    position: fixed;
    height: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.resume-pdf i {
    font-size: 24px;
    color: #F5F5F5;
    text-align: center;
    padding-top: 5px ;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.resume-pdf i:hover {
    color: #000;
    
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #F5F5F5;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #000;
}

#footer-details {
    padding: 15px;
    
    
}


.list-inline {
    margin-bottom: 0px;
}



    
