body {
    font-family: 'Roboto', sans-serif;
    color: 	#F5F5F5;
    background-color: #696969;
}

.container {
    color:#000;
    justify-content: center;
    align-items: center;
    
}

.navbar {
   
}



    
